#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Feedly
Exec=/usr/bin/chromium --profile-directory=Default --app-id=gmbkdkpmegadfecphodcnipimnannnjf
Icon=/home/tengkuiqbal/Apps/icon/feedly.png
StartupWMClass=crx_gmbkdkpmegadfecphodcnipimnannnjf
