#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Keywords=google;gmail;email;google mail;
Exec=/usr/bin/chromium --profile-directory=Default --app-id=kmhopmchchfpfdcdjodmpfaaphdclmlj
Icon=/home/tengkuiqbal/Apps/icon/gmail.png
StartupWMClass=crx_kmhopmchchfpfdcdjodmpfaaphdclmlj
