#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=AUR
Keywords=arch;arch linux;aur;linux;
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bicmbbhomokopljmhnonfhofjocleefh
Icon=/home/tengkuiqbal/Apps/icon/arch.png
StartupWMClass=crx_bicmbbhomokopljmhnonfhofjocleefh
