#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Docs
Exec=/usr/bin/chromium --profile-directory=Default --app-id=bojccfnmcnekjgjhcaklmcgofnngpjcl
Icon=chrome-bojccfnmcnekjgjhcaklmcgofnngpjcl-Default
StartupWMClass=crx_bojccfnmcnekjgjhcaklmcgofnngpjcl
