#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Translate
Exec=/usr/bin/chromium --profile-directory=Default --app-id=defagiknfbdkcmhacemhefjabocpmamg
Icon=chrome-defagiknfbdkcmhacemhefjabocpmamg-Default
StartupWMClass=crx_defagiknfbdkcmhacemhefjabocpmamg
